/*-- GENERAL --*/
p{
    font-size: 20px;
}



/*__________________________________________________________________________________________*/
/*-- HEADER --*/
/*__________________________________________________________________________________________*/
header{
    border: 1px solid black;
    background-color: blueviolet;
}

#entete_titres_et_texte_et_image{
    border: 1px solid red;
}
.entete_div{
    border: 1px solid blue;
    display: flex;
}
.entete_div_titres_et_texte{
    border: 1px solid orange;
    width: 50%;
    text-align: center;
    margin-top: 2%;
}

#entete_div_titres{
    border: 1px solid yellow;
    
}

header h1{
    border: 1px solid green;
    font-size: 40px;
    color: white;
}

header h2{
    border: 1px solid green;
    font-size: 35px;
    width: 37%;
    background-color: aqua;
    color: blueviolet;
    margin-left: 31.5%;
}

#entete_div_texte{
    border: 1px solid yellow;
    color: white;
    width: 50%;
    margin-left: 25%;
}

#entete_div_photo_id{
    border: 1px solid orange;
    width: 50%;
    
}
#entete_div_photo_id img{
    height: 300px;
    width: auto;
}
/*__________________________________________________________________________________________*/
/*-- BODY --*/
/*__________________________________________________________________________________________*/
#body{
    border: 1px solid black;
    color: rgb(29, 29, 143);
}
.body_div{
    border: 1ps solid red;
    display: flex;
}
.body_div_image{
    border: 1px solid orange;
    width: 40%;
    justify-content: center;
    text-align: center;
}

.body_div_image img {
    border: 1px solid green;
    width: 100%;
}
.body_div_competences{
    border: 1px solid orange;
    width: 50%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.body_div_competences h2 {
    font-size: 30px;
}
/*__________________________________________________________________________________________*/
/*-- FOOTER --*/
/*__________________________________________________________________________________________*/
footer{
    border: 1px solid black;
    background-color: rgb(31, 31, 108);
}
footer h2, footer p{
    color: white;
}
#footer_titre_texte_liens{
    border: 1px solid red;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#footer_titre{
    
}
#footer_texte{
    
}
.footer_div_liens_icones{
    display: flex;
    
}

footer img{
    width:70px;
    margin-right: 15px;
    text-decoration: none;
}